* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url('https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* width: 100vw; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.inputBox {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em;
  background:  rgba(44, 43, 43, 0.2);
  backdrop-filter: blur(6px);
}
h1{
  text-align: center;
  font-size: 2rem;
  color: white;
}
form{
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  justify-content: center;
  align-items: center;
}
input{
  margin-top: 0.3em;
  padding: 0.6em;
  width: 25em;
  background-color: rgba(6, 6, 6, 0.2);
  color: white;
  border: 1px solid white;
  border-radius: 5px;

}
select{
  padding: 0.5em;
  margin-top: 0.3em;
  background-color: rgba(6, 6, 6, 0.2);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
label{
  padding-bottom: 1em;
  font-size: 1rem;
  color: white;
}
.typeEntry label{
  font-size: 0.8rem;
}
#submit{
  padding: 1em 1.5em;
  font-size: 1rem;
  background-color: rgba(6, 6, 6, 0.6);
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
}
option{
  background-color: black;
  color: white;
  margin-top: 5%;
}
.callingUI{
  position: relative;
  margin: 20px auto;
}
@media (min-width:375px) and (max-width:500px)
{
  .inputBox{
    display: block;
  }
  .container{
    gap: 12px;
  }
  form{
    gap: 12px;
  }
}